.search-results-text {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px auto 0 auto;
}

.search-results-text p {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #347ca5;
	font-size: 64px;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
}

.search-results-content-area {
	background: #e5e5e5;
}

.search-results-header-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 529px;
	top: 104px;
}

.search-results-header-img-quote {
	width: 100%;
	height: fit-content;
	text-align: justify;
	background: #347ca5;
	padding: 30px;
}
.search-results-header-img-quote > span {
	height: 77px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	font-size: 20px;
	padding-left: 35px;
	padding-right: 35px;
}
.search-results-header-title {
	width: 100%;
	height: 100px;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	text-align: center;
	color: #347ca5;
	padding-top: 10px;
}

.search-results-container {
	height: fit-content;
	width: 100%;
	background: #e5e5e5;
	padding: 20px 10px;
}

.search-results-single-news-container {
	display: flex;
	margin: 5%;
	height: 340px;
	padding: 15px;
	background: #ffffff;
	border-radius: 10px;
	border: 1px solid #ffffff;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.search-results-single-news-img {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	margin: 10px;
	border: gray solid 1px;
}

.search-results-single-news-title {
	margin-top: 10px;
	margin-left: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
	width: 85%;
	margin-bottom: 20px;
	color: #347ca5;
}

.search-results-single-news-content-large-size {
	margin-left: 25px;
	margin-right: 10px;
	font-family: Roboto;
	font-style: normal;
	font-size: 21.5px;
	line-height: 1.6;
	margin-bottom: 50px;
}

.search-results-single-news-content-medium-size {
	display: none;
}

.search-results-single-news-content-small-size {
	display: none;
}

.search-results-page-navigation {
	display: flex;
	justify-content: space-around;
	font-family: Roboto;
	color: #347ca5;
}

.search-results-page-navigation-btn {
	color: #347ca5;
	border: none;
	cursor: pointer;
	padding: 1px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	background-color: #e5e5e5;
}

.search-results-go-to-page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	color: #347ca5;
	margin: 20px auto;
	padding-left: 27px;
}

.search-results-go-to-page-container > input {
	width: 55px;
	margin-top: 5px;
	height: 20px;
	border: none;
	border-radius: 3px;
}

.search-results-go-to-page {
	font-family: Roboto;
	color: #347ca5;
}

#search-results-go-to-page {
	text-align: center;
}

/*******************************************/
@media (max-width: 1366px) {
	.search-results-single-news-content-large-size {
		display: none;
	}
	.search-results-single-news-content-medium-size {
		display: block;
		margin-left: 25px;
		margin-right: 10px;
		font-family: Roboto;
		font-style: normal;
		font-size: 20.5px;
		line-height: 1.5;
		margin-bottom: 50px;
	}
}

@media (max-width: 1024px) {
	.search-results-header-image {
		height: 400px;
	}

	.search-results-header-img-quote {
		padding: 23px;
	}

	.search-results-header-img-quote > span {
		font-size: 18px;
		line-height: 1.4;
	}

	.search-results-header-title {
		height: 80px;
		font-size: 54px;
	}

	.search-results-single-news-img {
		width: 250px;
		height: 270px;
	}
	.search-results-single-news-container {
		margin: 3%;
		height: 340px;
	}

	.search-results-single-news-content-medium-size {
		font-size: 18.5px;
		line-height: 1.5;
		margin-bottom: 50px;
	}
}

@media (max-width: 779px) {
	.search-results-header-image {
		height: 333px;
	}

	.search-results-header-img-quote {
		padding: 15px 20px;
	}
	.search-results-header-img-quote > span {
		font-size: 16px;
	}

	.search-results-single-news-container {
		margin: 3%;
		height: 295px;
	}

	.search-results-single-news-img {
		width: 215px;
		height: 240px;
	}

	.search-results-single-news-title {
		margin-left: 20px;
		font-size: 25px;
		margin-bottom: 10px;
	}

	.search-results-single-news-content-medium-size {
		margin-left: 20px;
		font-size: 16px;
		line-height: 1.6;
	}
}

@media (max-width: 670px) {
	.search-results-header-image {
		height: 250px;
	}

	.search-results-header-title {
		height: 62px;
		font-size: 40px;
	}

	.search-results-single-news-title {
		margin-left: 15px;
		font-size: 22px;
		margin-bottom: 8px;
	}

	.search-results-single-news-content-medium-size {
		display: none;
	}

	.search-results-single-news-content-small-size {
		display: block;
		margin-left: 15px;
		font-size: 15px;
		line-height: 1.5;
	}

	.search-results-single-news-container {
		margin: 3%;
		height: 275px;
		padding-top: 25px;
	}

	.search-results-single-news-img {
		width: 175px;
		height: 200px;
	}
}

@media (max-width: 414px) {
	.search-results-header-img-quote > span {
		font-size: 13px;
	}

	.search-results-header-title {
		height: 50px;
		font-size: 27px;
	}

	.search-results-single-news-container {
		height: 225px;
		padding-top: 20px;
	}

	.search-results-single-news-title {
		margin-left: 10px;
		font-size: 17px;
		margin-bottom: 5px;
	}

	.search-results-single-news-content-small-size {
		margin-left: 10px;
		font-size: 13px;
		line-height: 1.4;
	}
	.search-results-single-news-img {
		width: 140px;
		height: 160px;
	}
	.search-results-page-navigation-btn {
		font-size: 14px;
	}
}
@media (max-width: 360px) {
	.search-results-header-img-quote > span {
		font-size: 12px;
	}

	.search-results-header-title {
		height: 45px;
		font-size: 22px;
	}

	.search-results-single-news-container {
		height: 180px;
		padding-top: 15px;
	}

	.search-results-single-news-title {
		margin-left: 10px;
		font-size: 13px;
		margin-bottom: 5px;
	}

	.search-results-single-news-content-small-size {
		margin-left: 10px;
		font-size: 11px;
		line-height: 1.4;
		margin-bottom: 0;
	}
	.search-results-single-news-img {
		width: 100px;
		height: 130px;
	}
	.search-results-page-navigation-btn {
		font-size: 14px;
	}
}

@media (max-width: 290px) {
	.search-results-header-img-quote > span {
		font-size: 12px;
	}

	.search-results-header-title {
		height: 45px;
		font-size: 22px;
	}

	.search-results-single-news-container {
		height: 200px;
		padding-top: 15px;
	}

	.search-results-single-news-title {
		margin-left: 10px;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.search-results-single-news-content-small-size {
		margin-left: 10px;
		font-size: 10px;
		line-height: 1.3;
		margin-bottom: 0;
	}
	.search-results-single-news-img {
		width: 100px;
		height: 130px;
	}
	.search-results-page-navigation-btn {
		font-size: 13px;
	}
}
