.getInvolved_img {
  margin-top: 90px;
  height: 529px;
  width: 100%;
  left: 0px;
  top: 106px;
  border-radius: 0px;
  background-image: url("https://i.postimg.cc/4y4VVWY8/69d547-80caef70e4734a62bbce3e41b10653df-mv2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.getInvolved_text {
  width: 100%;
  height: 144px;
  background: #347ca5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.getInvolved_title {
  width: 100%;
  height: 83px;
  color: #347ca5;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 78px;
}
.getInvolved_images {
  width: 100%;
  height: 944px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.getInvolved_images .getInvolved_image {
  width: 433px;
  height: 348px;
  overflow: hidden;
  margin-left: 0px !important;
  margin-top: 0px !important;
}
.getInvolved_image .getInvolved_image_img {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 0px !important;
  margin-top: 0px !important;
  border-radius: 3px;
}
.image_bg_goods {
  background-image: url("https://i.postimg.cc/K8XTGcZc/photo-1518949142393-f1d68174c92a.jpg");
}
.image_bg_card {
  background-image: url("https://i.postimg.cc/PJSzRPrq/aaron-doucett-Hkbe-Lx-OJlqk-unsplash.jpg");
}
.image_bg_time {
  background-image: url("https://i.postimg.cc/5NtmFqnQ/joel-muniz-A4-Ax1-Apccf-A-unsplash.jpg");
}
.image_bg_ambassador {
  background-image: url("https://i.postimg.cc/VsKq10mf/craig-philbrick-kfx-PVP-7-P7-U-unsplash.jpg");
}
.getInvolved_image:hover .getInvolved_image_img,
.getInvolved_image:focus .getInvolved_image_img {
  transform: scale(1.2);
  transition: all 0.5s;
}
.getInvolved_image_img::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.getInvolved_image:hover .getInvolved_image_img::before,
.getInvolved_image:focus .getInvolved_image_img::before {
  display: block;
}

.getInvolved_image_img .donate_good {
  font-family: Prociono;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0em;
  color: #fff;
}
.getInvolved_image_img:hover .donate_good {
  font-size: 20px;
  transform: scale(1.15, 1.15);
}
/*****************************************************/
@media only screen and (max-width: 1366px) {
 

  .getInvolved_title {   
    height: 100px;   
    line-height: 100px;
  }
  .getInvolved_image_img:hover .donate_good {
    font-size: 20px;
    transform: scale(1.15, 1.15);
  }

}
@media only screen and (max-width: 1024px) {
  .getInvolved_img {
    height: 450px;
  }
  .getInvolved_text {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 28px;
  }
  .getInvolved_title {
    font-size: 48px;
    height: 70px;
    line-height: 70px;
  }
  .getInvolved_images {
    height: 800px;
    justify-content: space-around;
  }
  .getInvolved_images .getInvolved_image {
    width: 400px;
    height: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .getInvolved_img {
    height: 380px;
  }
  .getInvolved_title {
    font-size: 40px;
    line-height: 70px;
    height: 70px;
  }
  .getInvolved_images {
    height: 590px;
    width: 100%;
    justify-content: space-around;
  }
  .getInvolved_images .getInvolved_image {
    width: 350px;
    height: 248px;
  }
  .getInvolved_image_img .donate_good {
    font-size: 25px;
  }
}
@media only screen and (max-width: 736px) {
  .getInvolved_img {    
    height: 380px; 
  }    
  .getInvolved_text { 
    height: 100px; 
    padding-left: 10px;  
    font-size: 16px;    
    font-weight: 300;
    line-height: 24px;   
  }
  .getInvolved_title {   
    height: 60px;   
    font-size: 30px;
    line-height: 60px;
  }
  .getInvolved_images {  
    height: 540px;  
    flex-direction: row; 
  }
  .getInvolved_images .getInvolved_image {
    width: 320px;
    height: 220px;
  }
  .getInvolved_image_img .donate_good {  
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
   
  }
  .getInvolved_image_img:hover .donate_good {
    font-size: 16px;    
  }
}

@media only screen and (max-width: 667px) {
  .getInvolved_img {   
    height: 305px;   
  }
  
  .getInvolved_text {
    height: 100px;  
    padding-left: 10px;
    padding-right: 10px;   
    font-size: 16px;   
    font-weight: 300;
    line-height: 25px;  
  }
  .getInvolved_title {  
    height: 50px;
    font-size: 30px;
    line-height: 50px;
  }
  .getInvolved_images {   
    height: 520px; 
    flex-direction: row;  
  }
  .getInvolved_images .getInvolved_image {
    width: 290px;
    height: 210px;  
  }  
  .getInvolved_image_img .donate_good {  
    font-size: 24px;   
    font-weight: 300;
    line-height: 38px;
  }
  .getInvolved_image_img:hover .donate_good {
    font-size: 14px;
    transform: scale(1.15, 1.15);
  }
}


@media only screen and (max-width: 414px) {
  .getInvolved_img {
    margin-top: 70px;
    height: 180px;
  }
  .getInvolved_text {
    height: 140px;
    padding-left: 3px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .getInvolved_title {
    height: 45px; 
    font-size: 24px;
    line-height: 45px;
  }
  .getInvolved_images {
    height: 960px;
  }
  .getInvolved_images .getInvolved_image {
    width: 340px;
    height: 220px;
  }
  .getInvolved_image_img .donate_good {    
    font-size: 26px;   
    line-height: 28px;    
  }
  .getInvolved_image_img:hover .donate_good{
    font-size: 16px;    
  }
}

@media only screen and (max-width: 375px) {
  .getInvolved_img {
    margin-top: 70px;
    height: 180px;
  }
  .getInvolved_text {
    height: 140px;
    padding-left: 3px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .getInvolved_title {
    height: 45px; 
    font-size: 24px;
    line-height: 45px;
  }
  .getInvolved_images {
    height: 930px;
  }
  .getInvolved_images .getInvolved_image {
    width: 300px;
    height: 200px;
  }

  .getInvolved_image_img .donate_good {    
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;    
  }
  .getInvolved_image_img:hover .donate_good{
    font-size: 12px;
    transform: scale(1.5, 1.5);
  }
}


@media only screen and (max-width: 360px) {
  .getInvolved_img {
    margin-top: 70px;
    height: 180px;
  }
  .getInvolved_text {
    height: 140px;
    padding-left: 3px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .getInvolved_title {
    height: 45px; 
    font-size: 24px;
    line-height: 45px;
  }
  .getInvolved_images {
    height: 850px;
  }
  .getInvolved_images .getInvolved_image {
    width: 280px;
    height: 180px;
  }

  .getInvolved_image_img .donate_good {    
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;    
  }
  .getInvolved_image_img:hover .donate_good{
    font-size: 12px;
    transform: scale(1.5, 1.5);
  }
}
