.flex-container {
  display: flex;
  flex-flow: column;
  background-color: white;
}

.div-picture { 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
  height: 529px;
  left: 0px;
  top: 104px;
  margin-top: 100px;
  
}
.text {
  height: 144px;
  left: 1px;
  right: 1px;
  top: 630px;
  background: #347ca5;
  width: 100%;
}

.text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 45px;
  color: #ffffff;
}

.donate input:focus {
  outline: 0;
}
.donate textarea:focus {
  outline: 0;
}
.donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.donate-new {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  height: 1550px;
}
.donate-header h1 {
  margin-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  color: #347ca5;
  text-transform: uppercase;
}
.donate-form {
  margin-top: 1px;
  width: 522px;
  height: fit-content;
  background: #e5e5e5;
  border-radius: 10px;
}
.donate-form > label {
  margin-left: 39px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #347ca5;
}
.donate-form > input {
  padding-left: 15px;
  margin-left: 35px;
  width: 444px;
  height: 57px;
  left: 334px;
  top: 989px;
  border: none;
  background: #ffffff;
  border-radius: 10px;
}
.donate-form input::placeholder {
  font-family: Roboto;
  font-size: 18px;
  font-weight: lighter;
  color: #999;
  margin-left: 5px;
}
.donate-form textarea {
  margin-left: 35px;
  width: 444px;
  height: 114px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  padding-top: 15px;
}
#payment-button {
  width: 201px;
  height: 60px;
  margin-left: 160px;
  margin-bottom: 20px;
  background-image: url("https://i.postimg.cc/76sCp0Ph/3fa0b0ba7c17fbde04063dfe67f8a373.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.donate-text {
  position: inherit;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 7%;
  font-size: 3rem;
}

/********************************************************/

@media only screen and (max-width: 1366px) {
  .text {
    height: 135px;
  }
}
@media only screen and (max-width: 1024px) {
  #payment-button {
    width: 200px;
    height: 45px;
    margin-left: 160px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
 
  .text p {
    font-size: 32px;
    line-height: 38px;
    padding-top: 35px;
  }
  .donate-header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 68px;
    line-height: 80px;
  }
  .donate-form > input {
    margin-left: 40px;
  }
  .donate-form textarea {
    margin-left: 40px;
  }
  #payment-button {
    width: 150px;
    height: 45px;
    margin-left: 160px;
    margin-bottom: 10px;
    
  }
}
@media only screen and (max-width: 414px) {
  .div-picture {
    height: 250px;
  }
  .text {
    height: 80px;
  }

  .text p {
    font-size: 16px;
    line-height: 18px;
    padding-top: 20px;
  }

  .donate-header h1 {
    margin-top: 0px;
    font-size: 22px;
    line-height: 44px;
  }
  .donate-form {
    margin-top: -15px;
    width: 300px;
    height: 480px;
  }
  .donate-form > label {
    margin-left: 19px;
    font-size: 16px;
    line-height: 14px;
  }
  .donate-form > input {
    padding-left: 15px;
    margin-left: 15px;
    width: 250px;
    height: 37px;
    left: 0px;
  }
  .donate-form input::placeholder {
    font-size: 12px;
  }
  .donate-form textarea {
    margin-left: 15px;
    width: 250px;
    height: 90px;
    padding-left: 15px;
    padding-top: 15px;
  }
  #payment-button {
    width: 101px;
    height: 30px;
    margin-left: 85px;
    margin-bottom: 10px;
  }
  .other h2 {
    font-size: 16px;
    text-align: center;
    align-items: center;
    margin-top: -10px;
  }
}
@media only screen and (max-width: 375px) {
  .div-picture {
    height: 230px;
  }
  .text {
    height: 80px;
  }

  .text p {
    font-size: 16px;
    line-height: 18px;
    padding-top: 20px;
  }

  .donate-header h1 {
    margin-top: 0px;
    font-size: 22px;
    line-height: 44px;
  }
  .donate-form {
    margin-top: -15px;
    width: 300px;
    height: 475px;
  }
  .donate-form > label {
    margin-left: 19px;
    font-size: 16px;
    line-height: 14px;
  }
  .donate-form > input {
    padding-left: 15px;
    margin-left: 15px;
    width: 250px;
    height: 37px;
    left: 0px;
  }
  .donate-form input::placeholder {
    font-size: 12px;
  }
  .donate-form textarea {
    margin-left: 15px;
    width: 250px;
    height: 90px;
    padding-left: 15px;
    padding-top: 15px;
  }
  #payment-button {
    width: 110px;
    height: 35px;
    margin-left: 85px;
    
  }
  .other h2 {
    font-size: 16px;
    text-align: center;
    align-items: center;
    margin-top: -10px;
  }
}
