.donate_your_time {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 317px;
	width: 100%;
}
.donate_your_time_title {
	background-color: rgba(52, 124, 165, 0.84);
	height: 317px;
	width: 100%;
	color: #e5e5e5;
	font-size: 72px;
	padding-top: 160px;
	text-align: center;
}
.donate_your_time_container {
	text-align: center;
	background-color: #e5e5e5;
	margin-top: 60px;
	margin-bottom: 80px;
	height: 800px;
	padding-top: 200px;
	font-size: 60px;
}

.donate_time_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}
.donate_time_btn .donate_time_your_btn {
	width: 176px;
	height: 60px;
	text-align: center;
	background: #f49131;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -30px;
	color: #fff;
	font-family: Roboto;
	font-size: 28px;
	font-weight: bolder;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
}
/************************************************************/
@media only screen and (max-width: 1366px) {
	.donate_time_title {
		height: 100px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.donate_time_btn .donate_time_your_btn {
		margin-top: -20px;
	}
}

@media only screen and (max-width: 1024px) {
	.donate_time_img1 > img {
		margin-right: 50px;
	}
	.donate_time_img2 > img {
		margin-left: 50px;
	}
	.donate_time_btn .donate_time_your_btn {
		margin-top: 0px;
	}
	.donate_time_part3 {
		padding: 0px 80px;
	}
}
@media only screen and (max-width: 768px) {
	.donate_your_time {
		height: 280px;
	}
	.donete_your_time_title {
		height: 280px;
		font-size: 62px;
	}
	.donate_your_time_container {
		margin-top: 60px;
		margin-bottom: 60px;
		height: 1060px;
	}

	.donate_time_title {
		height: 70px;
		line-height: 60px;
	}

	.donate_time_img1 > img {
		border-radius: 10px;
		width: 350px;
		height: 250px;
		margin-right: 50px;
		margin-top: 20px;
	}
	.donate_time_text1 {
		width: 270px;
		height: 220px;
		font-size: 18px;
		line-height: 30px;
		margin-top: 1px;
		padding-top: 20px;
	}

	.donate_time_text2 {
		width: 270px;
		height: 220px;
		font-size: 18px;
		line-height: 30px;
		margin-top: 1px;
		padding-top: 1px;
	}
	.donate_time_img2 > img {
		border-radius: 10px;
		width: 350px;
		height: 250px;
		align-items: center;
		margin-left: 50px;
		margin-top: 20px;
	}

	.donate_time_part3 {
		font-size: 18px;
		line-height: 30px;
		padding: 1px 40px;
	}
	.donate_time_btn .donate_time_your_btn {
		width: 146px;
		height: 50px;
		font-size: 24px;
		margin-top: -50px;
	}
}
@media only screen and (max-width: 736px) {
	.donate_your_time {
		height: 250px;
	}
	.donete_your_time_title {
		height: 250px;
		font-size: 52px;
	}
	.donate_your_time_container {
		margin-top: 40px;
		margin-bottom: 40px;
		height: 1060px;
	}

	.donate_time_title {
		height: 70px;
		line-height: 60px;
	}

	.donate_time_img1 > img {
		border-radius: 10px;
		width: 350px;
		height: 250px;
		margin-right: 50px;
		margin-top: 20px;
	}
	.donate_time_text1 {
		width: 270px;
		height: 220px;
		font-size: 18px;
		line-height: 30px;
		margin-top: 1px;
		padding-top: 20px;
	}

	.donate_time_text2 {
		width: 270px;
		height: 220px;
		font-size: 18px;
		line-height: 30px;
		margin-top: 1px;
		padding-top: 1px;
	}
	.donate_time_img2 > img {
		border-radius: 10px;
		width: 350px;
		height: 250px;
		align-items: center;
		margin-left: 50px;
		margin-top: 20px;
	}

	.donate_time_part3 {
		font-size: 18px;
		line-height: 30px;
		padding: 1px 40px;
	}
	.donate_time_btn .donate_time_your_btn {
		width: 146px;
		height: 50px;
		font-size: 24px;
		margin-top: -50px;
	}
}
@media only screen and (max-width: 667px) {
	.donate_your_time {
		height: 200px;
	}
	.donete_your_time_title {
		height: 200px;
		font-size: 36px;
		padding-top: 120px;
	}
	.donate_your_time_container {
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 30px;
		height: 720px;
	}

	.donate_time_title {
		height: 40px;
		font-size: 32px;
		line-height: 20px;
	}

	.donate_time_part1 {
		flex-wrap: nowrap;
		height: 220px;
	}
	.donate_time_img1 > img {
		border-radius: 5px;
		width: 260px;
		height: 180px;
		align-items: center;
		margin-left: 5px;
	}
	.donate_time_text1 {
		width: 260px;
		height: 180px;
		font-size: 14px;
		line-height: 18px;
		padding-top: 20px;
		margin-left: 0px;
		margin-top: 20px;
	}
	.donate_time_part2 {
		flex-wrap: nowrap;
		justify-content: center;
		height: 220px;
	}
	.donate_time_text2 {
		width: 260px;
		height: 180px;
		font-size: 14px;
		line-height: 18px;
		padding-top: 20px;
	}
	.donate_time_img2 > img {
		border-radius: 5px;
		width: 260px;
		height: 180px;
		align-items: center;
		margin-left: 30px;
	}

	.donate_time_part3 {
		height: 180px;
		font-size: 14px;
		line-height: 18px;
		padding: 0px 40px;
	}

	.donate_time_btn .donate_time_your_btn {
		width: 110px;
		height: 40px;
		margin-top: -100px;
		font-size: 20px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 640px) {
	.donate_your_time {
		height: 200px;
	}
	.donete_your_time_title {
		height: 200px;
		font-size: 36px;
		padding-top: 120px;
	}
	.donate_your_time_container {
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 30px;
		height: 720px;
	}

	.donate_time_title {
		height: 40px;
		font-size: 32px;
		line-height: 20px;
	}

	.donate_time_part1 {
		flex-wrap: nowrap;
		height: 220px;
	}
	.donate_time_img1 > img {
		border-radius: 5px;
		width: 260px;
		height: 180px;
		align-items: center;
		margin-left: 5px;
	}
	.donate_time_text1 {
		width: 260px;
		height: 180px;
		font-size: 14px;
		line-height: 18px;
		padding-top: 20px;
		margin-left: 0px;
		margin-top: 20px;
	}
	.donate_time_part2 {
		flex-wrap: nowrap;
		justify-content: center;
		height: 220px;
	}
	.donate_time_text2 {
		width: 260px;
		height: 180px;
		font-size: 14px;
		line-height: 18px;
		padding-top: 20px;
	}
	.donate_time_img2 > img {
		border-radius: 5px;
		width: 260px;
		height: 180px;
		align-items: center;
		margin-left: 30px;
	}

	.donate_time_part3 {
		height: 180px;
		font-size: 14px;
		line-height: 18px;
		padding: 0px 40px;
	}

	.donate_time_btn .donate_time_your_btn {
		width: 110px;
		height: 40px;
		margin-top: -100px;
		font-size: 20px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 414px) {
	.donate_your_time {
		height: 200px;
	}
	.donete_your_time_title {
		height: 200px;
		font-size: 28px;
		padding-top: 110px;
	}
	.donate_your_time_container {
		margin-top: 30px;
		margin-bottom: 30px;
		height: 1230px;
	}

	.donate_time_title {
		height: 56px;
		font-size: 28px;
		line-height: 28px;
	}

	.donate_time_part1 {
		height: 400px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.donate_time_img1 > img {
		border-radius: 15px;
		width: 290px;
		height: 190px;
		margin-right: 0px;
	}
	.donate_time_text1 {
		width: 290px;
		height: 190px;
		font-size: 16px;
		line-height: 22px;
		padding-top: 0px;
	}
	.donate_time_part2 {
		height: 450px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.donate_time_text2 {
		width: 290px;
		height: 190px;
		font-size: 16px;
		line-height: 22px;
		padding-top: 0px;
	}
	.donate_time_img2 > img {
		border-radius: 15px;
		width: 290px;
		height: 190px;
		align-items: center;
		margin-left: 0px;
	}

	.donate_time_part3 {
		font-size: 16px;
		line-height: 22px;
		padding: 0px 40px;
		text-align: center;
	}
	.donate_time_btn .donate_time_your_btn {
		width: 120px;
		height: 40px;
		margin-top: 30px;
		font-size: 24px;
	}
}
@media only screen and (max-width: 375px) {
	.donate_your_time {
		height: 200px;
	}
	.donete_your_time_title {
		height: 200px;
		font-size: 28px;
		padding-top: 110px;
	}
	.donate_your_time_container {
		margin-top: 30px;
		margin-bottom: 30px;
		height: 1230px;
	}

	.donate_time_title {
		height: 56px;
		font-size: 28px;
		line-height: 28px;
	}

	.donate_time_part1 {
		height: 400px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.donate_time_img1 > img {
		border-radius: 15px;
		width: 280px;
		height: 180px;
		margin-right: 0px;
	}
	.donate_time_text1 {
		width: 280px;
		height: 180px;
		font-size: 16px;
		line-height: 22px;
		padding-top: 0px;
	}
	.donate_time_part2 {
		height: 450px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.donate_time_text2 {
		width: 280px;
		height: 180px;
		font-size: 16px;
		line-height: 22px;
		padding-top: 0px;
	}
	.donate_time_img2 > img {
		border-radius: 15px;
		width: 280px;
		height: 180px;
		align-items: center;
		margin-left: 0px;
	}

	.donate_time_part3 {
		font-size: 16px;
		line-height: 22px;
		padding: 0px 40px;
		text-align: center;
	}
	.donate_time_btn .donate_time_your_btn {
		width: 120px;
		height: 40px;
		margin-top: 30px;
		font-size: 24px;
	}
}

@media only screen and (max-width: 360px) {
	.donate_your_time {
		height: 200px;
	}
	.donete_your_time_title {
		height: 200px;
		font-size: 28px;
		padding-top: 110px;
	}
	.donate_your_time_container {
		margin-top: 30px;
		margin-bottom: 30px;
		height: 1230px;
	}

	.donate_time_title {
		height: 56px;
		font-size: 28px;
		line-height: 28px;
	}

	.donate_time_part1 {
		height: 400px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.donate_time_img1 > img {
		border-radius: 15px;
		width: 280px;
		height: 180px;
		margin-right: 0px;
	}
	.donate_time_text1 {
		width: 280px;
		height: 180px;
		font-size: 16px;
		line-height: 22px;
		padding-top: 0px;
	}
	.donate_time_part2 {
		height: 450px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.donate_time_text2 {
		width: 280px;
		height: 180px;
		font-size: 16px;
		line-height: 22px;
		padding-top: 0px;
	}
	.donate_time_img2 > img {
		border-radius: 15px;
		width: 280px;
		height: 180px;
		align-items: center;
		margin-left: 0px;
	}

	.donate_time_part3 {
		font-size: 16px;
		line-height: 22px;
		padding: 0px 40px;
		text-align: center;
	}
	.donate_time_btn .donate_time_your_btn {
		width: 120px;
		height: 40px;
		margin-top: 30px;
		font-size: 24px;
	}
}
