.donate_your_time_form {
	background-image: url('./Rectangle\ 26.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 317px;
	width: 100%;
}
.donete_your_time_form_title {
	background-color: rgba(52, 124, 165, 0.84);
	height: 317px;
	width: 100%;
	color: #e5e5e5;
	font-size: 72px;
	padding-top: 140px;
	text-align: center;
}
.donate_your_time_form_container {
	width: 100%;
	height: 1150px;
	background-color: #e5e5e5;
	margin-top: 60px;
	margin-bottom: 60px;
}
#time_container {
	position: relative;
	padding: 40px 150px;
	align-items: center;
}
.time_container {
	position: absolute;
	left: 100px;
	top: 40px;
	width: 40%;
	margin: 10px 50px;
	/* background-color: blueviolet; */
}
.time_name > label {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}
.time_container .time_name > input {
	height: 40px;
	width: 400px;
	border: none;
	padding-left: 10px;
	margin-top: 5px;
	border-radius: 5px;
}
.time_email {
	margin-top: 190px;
	width: 100%;
	margin-left: 1px;
}

.time_email > label {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}
.time_email > input {
	height: 40px;
	width: 400px;
	border: none;
	padding-left: 10px;
	margin-top: 5px;
	border-radius: 5px;
}

.time_container_right {
	position: absolute;
	right: 200px;
	top: 26px;
	width: 40%;
}

.time_container_right .time_number > label {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}

.time_container_right .time_number > input {
	height: 40px;
	width: 400px;
	border: none;
	padding-left: 10px;
	margin-top: 5px;
	border-radius: 5px;
}

.time_container_right .time_based > label {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}

.time_container_right .time_based > input {
	height: 40px;
	width: 400px;
	border: none;
	padding-left: 10px;
	margin-top: 5px;
	border-radius: 5px;
}

.time_text {
	position: absolute;
	top: 343px;
	width: 80%;
}
.time_text > label {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}
.time_text > textarea {
	width: 100%;
	height: 335px;
	border: none;
	padding: 20px 20px;
	border-radius: 5px;
}

.time_text2 {
	position: absolute;
	top: 780px;
	width: 80%;
}

.time_text2 > label {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}
.time_text2 > textarea {
	width: 100%;
	height: 125px;
	border: none;
	padding: 20px 20px;
	border-radius: 5px;
}

.time_submit {
	position: absolute;
	top: 1023px;
	width: 20%;
	left: 40%;
}

.time_submit_sub {
	width: 152px;
	border-radius: 5px;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
	background: rgba(244, 145, 49, 1);
	color: #fff;
	border: none;
	padding: 8px;
}

.donate-time-form-btn-popup {
	border-radius: 5px;
	border: none;
	background: #f49131;
	color: #fff;
	padding: 10px;
	font-size: 18px;
	width: auto;
	margin-top: 10px;
}
.donate_time_modal {
	margin-top: 200px;
	margin-left: 30%;
}
/************************************************************/

@media (max-width: 1366px) {
	.donate_time_modal {
		margin-top: 250px;
		margin-left: 20%;
	}
	.donate-time-form-btn-popup {	
		font-size: 24px;		
		margin-top: -35px;
	}
	.donate_time_modal {
		margin-top: 250px;
		margin-left: 10%;
		width: 70% !important;
		height: 200px !important;
		font-size: 24px !important;
	}
}
@media only screen and (max-width: 1024px) {
	.donate_your_time_form_container {
		height: 990px;
	}
	#time_container {
		padding: 40px 70px;
	}
	.time_container {
		left: 50px;
		top: 40px;
		width: 40%;
		margin: 10px 20px;
	}
	.time_name > label {
		font-size: 24px;
		line-height: 32px;
	}
	.time_container .time_name > input {
		height: 40px;
		width: 310px;
		padding-left: 10px;
	}
	.time_email {
		margin-top: 180px;
	}
	.time_email > label {
		font-size: 20px;
		line-height:24px;
	}
	.time_email > input {
		height: 40px;
		width: 310px;
	}
	.time_container_right {
		right: 150px;
		top: 29px;
		width: 40%;
	}
	.time_container_right .time_number > label {
		font-size: 20px;
		line-height: 24px;
	}
	.time_container_right .time_number > input {
		height: 40px;
		width: 310px;
	}

	.time_container_right .time_based > label {
		font-size: 20px;
		line-height: 24px;
	}
	.time_container_right .time_based > input {
		height: 40px;
		width: 310px;
	}
	.time_text {
		top: 330px;
		width: 80%;
	}
	.time_text > label {
		font-size: 20px;
		line-height: 24px;
	}
	.time_text > textarea {
		height: 300px;
	}
	.time_text2 {
		top: 710px;
	}
	.time_text2 > label {
		font-size: 20px;
		line-height: 24px;
	}
	.time_text2 > textarea {
		height: 115px;
		padding: 20px 20px;
	}
	.time_submit {
		top: 910px;
		width: 30%;
		left: 40%;
	}
	.time_submit_sub {
		height: 40px;
		width: 132px;
		font-size: 20px;
		line-height: 24px;
	}
	.donate-time-form-btn-popup {	
		font-size: 20px;		
		margin-top: -35px;
	}
	.donate_time_modal {
		margin-top: 200px;
		margin-left: 15%;
		width: 70% !important;
		height: 250px !important;
		font-size: 20px !important;
	}
}

@media only screen and (max-width: 768px) {
	.donate_time_modal {
		margin-top: 280px;
		margin-left: 20%;
	}

	.donate_your_time_form {
		height: 300px;
	}
	.donete_your_time_form_title {
		height: 300px;
		font-size: 62px;
	}
	.donate_your_time_form_container {
		height: 800px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	#time_container {
		padding: 20px 50px;
	}
	.time_container {
		left: 40px;
		top: 20px;
		width: 30%;
		margin: 10px 10px;
	

	}
	.time_name > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_container .time_name > input {
		height: 40px;
		width: 280px;
	}
	.time_email {
		margin-top: 160px;
	}
	.time_email > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_email > input {
		height: 40px;
		width: 280px;
	}
	.time_container_right {
		right: 55px;
		top: 7px;
		width: 40%;
	}
	.time_container_right .time_number > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_container_right .time_number > input {
		width: 280px;
	}
	.time_container_right .time_based > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_container_right .time_based > input {
		width: 280px;
	}
	.time_text {
		top: 293px;
		width: 80%;
	}
	.time_text > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_text > textarea {
		height: 175px;
	}
	.time_text2 {
		top: 550px;
		width: 80%;
	}
	.time_text2 > label {
		font-size: 16px;
		line-height:18px;
	}
	.time_text2 > textarea {
		width: 100%;
		height: 110px;
	}
	.time_submit {
		top: 730px;
		width: 30%;
		left: 40%;
	}
	.time_submit_sub {
		height: 40px;
		width: 132px;
		font-size: 16px;
		line-height: 18px;
	}
	.donate-time-form-btn-popup {	
		font-size: 14px;		
		margin-top: -35px;
	}
	.donate_time_modal {
		margin-top: 100px;
		margin-left: 15%;
		width: 70% !important;
		height: 200px !important;
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 667px) {
	.donate_time_modal {
		margin-top: 280px;
		margin-left: 20%;
	}

	.donate_your_time_form {
		height: 200px;
	}
	.donete_your_time_form_title {
		height: 200px;
		font-size: 42px;
		padding-top: 120px;
	}
	.donate_your_time_form_container {
		height: 760px;
		margin-top: 30px;
		margin-bottom:30px;
	}
	#time_container {
		padding: 20px 30px;
	
	}
	.time_container {
		left: 20px;
		top: 20px;
		width: 40%;
		margin: 10px 10px;
	
	}
	.time_name > label {
		font-size: 16px;
		line-height: 18px;
		
	}
	.time_container .time_name > input {
		height: 40px;
		width: 280px;
	}
	.time_email {
		margin-top: 160px;
	}
	.time_email > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_email > input {
		height: 40px;
		width: 280px;
	}
	.time_container_right {
		right: 20px;
		top: 12px;
		width: 45%;
	
	}
	.time_container_right .time_number > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_container_right .time_number > input {
		width: 280px;
	}
	.time_container_right .time_based > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_container_right .time_based > input {
		width: 280px;
	}
	.time_text {
		top: 293px;
		width: 80%;
	}
	.time_text > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_text > textarea {
		height: 140px;
	}
	.time_text2 {
		top: 520px;
		width: 80%;
	}
	.time_text2 > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_text2 > textarea {
		width: 100%;
		height: 90px;
	}
	.time_submit {
	    top: 680px;
		width: 30%;
		left: 35%;
	}
	.time_submit_sub {
		height: 40px;
		width: 120px;
		font-size: 18px;
		line-height: 18px;
	}
	.donate-time-form-btn-popup {	
		font-size: 14px;		
		margin-top: -35px;
	}
	.donate_time_modal {
		margin-top: 100px;
		margin-left: 15%;
		width: 70% !important;
		height: 200px !important;
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 640px) {
	.donate_time_modal {
		margin-top: 280px;
		margin-left: 20%;
	}

	.donate_your_time_form {
		height: 200px;
	}
	.donete_your_time_form_title {
		height: 200px;
		font-size: 42px;
		padding-top: 120px;
	}
	.donate_your_time_form_container {
		height: 760px;
		margin-top: 30px;
		margin-bottom:30px;
	}
	#time_container {
		padding: 20px 30px;
	
	}
	.time_container {
		left: 20px;
		top: 20px;
		width: 40%;
		margin: 10px 10px;
	
	}
	.time_name > label {
		font-size: 16px;
		line-height: 18px;
		
	}
	.time_container .time_name > input {
		height: 40px;
		width: 280px;
	}
	.time_email {
		margin-top: 160px;
	}
	.time_email > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_email > input {
		height: 40px;
		width: 280px;
	}
	.time_container_right {
		right: 20px;
		top: 12px;
		width: 45%;
	
	}
	.time_container_right .time_number > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_container_right .time_number > input {
		width: 280px;
	}
	.time_container_right .time_based > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_container_right .time_based > input {
		width: 280px;
	}
	.time_text {
		top: 293px;
		width: 80%;
	}
	.time_text > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_text > textarea {
		height: 140px;
	}
	.time_text2 {
		top: 520px;
		width: 80%;
	}
	.time_text2 > label {
		font-size: 16px;
		line-height: 18px;
	}
	.time_text2 > textarea {
		width: 100%;
		height: 90px;
	}
	.time_submit {
	    top: 680px;
		width: 30%;
		left: 35%;
	}
	.time_submit_sub {
		height: 40px;
		width: 120px;
		font-size: 18px;
		line-height: 18px;
	}
	.donate-time-form-btn-popup {	
		font-size: 14px;		
		margin-top: -35px;
	}
	.donate_time_modal {
		margin-top: 100px;
		margin-left: 15%;
		width: 70% !important;
		height: 200px !important;
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 414px) {
	.donate_time_modal {
		margin-top: 280px;
		margin-left: 25%;
	}
	.donate_your_time_form {
		height: 200px;
	}
	.donete_your_time_form_title {
		height: 200px;
		font-size: 28px;
		padding-top: 110px;

	}
	.donate_your_time_form_container {
		height: 850px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	#time_container {
		padding: 10px 40px;
	}
	.time_container {
		left: 10px;
		top: 10px;
		width: 50%;
		margin: 5px 5px;
		padding-left: 30px;
	
	}
	.time_name > label {
		font-size: 20px;
		font-weight: 300;
		line-height: 26px;
	}
	.time_container .time_name > input {
		height: 30px;
		width: 280px;
	}
	.time_email {
		margin-top: 315px;
	}
	.time_email > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_email > input {
		height: 30px;
		width: 280px;
	}
	.time_container_right {
		margin: 5px 5px;
		left: 10px;
		top: 140px;
		width: 70%;
		padding-left: 30px;

	}
	.time_container_right .time_number > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_container_right .time_number > input {
		height: 30px;
		width: 280px;
	}
	.time_container_right .time_based > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_container_right .time_based > input {
		height: 30px;
		width: 280px;
	}
	.time_text {
		top: 420px;
		width: 80%;
		margin: 5px 5px;
	}
	.time_text > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_text > textarea {
		width: 95%;
		height: 135px;
		padding: 10px 10px;
	}
	.time_text2 {
		top: 650px;
		width:83%;
	}
	.time_text2 > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_text2 > textarea {
		width: 95%;
		height: 100px;
		padding: 10px 10px;
	}

	.time_submit {
	
		position: absolute;
		top: 800px;
		width: 30%;
		left: 37%;
	}
	.time_submit_sub {
		height: 35px;
		width: 100px;
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.donate-time-form-btn-popup {	
		font-size: 14px;		
		margin-top: -35px;
	}
	.donate_time_modal {
		margin-top: 200px;
		margin-left: 15%;
		width: 70% !important;
		height: 200px !important;
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 375px) {
	.donate_time_modal {
		margin-top: 280px;
		margin-left: 25%;
	}
	.donate_your_time_form {
		height: 200px;
	}
	.donete_your_time_form_title {
		height: 200px;
		font-size: 28px;
		padding-top: 110px;

	}
	.donate_your_time_form_container {
		height: 850px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	#time_container {
		padding: 10px 40px;
	}
	.time_container {
		left: 10px;
		top: 10px;
		width: 50%;
		margin: 5px 5px;
		padding-left: 30px;
	
	}
	.time_name > label {
		font-size: 20px;
		font-weight: 300;
		line-height: 26px;
	}
	.time_container .time_name > input {
		height: 30px;
		width: 280px;
	}
	.time_email {
		margin-top: 315px;
	}
	.time_email > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_email > input {
		height: 30px;
		width: 280px;
	}
	.time_container_right {
		margin: 5px 5px;
		left: 10px;
		top: 140px;
		width: 70%;
		padding-left: 30px;

	}
	.time_container_right .time_number > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_container_right .time_number > input {
		height: 30px;
		width: 280px;
	}
	.time_container_right .time_based > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_container_right .time_based > input {
		height: 30px;
		width: 280px;
	}
	.time_text {
		top: 420px;
		width: 80%;
		margin: 5px 5px;
	}
	.time_text > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_text > textarea {
		width: 95%;
		height: 135px;
		padding: 10px 10px;
	}
	.time_text2 {
		top: 650px;
		width:83%;
	}
	.time_text2 > label {
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}
	.time_text2 > textarea {
		width: 95%;
		height: 100px;
		padding: 10px 10px;
	}

	.time_submit {
	
		position: absolute;
		top: 800px;
		width: 30%;
		left: 37%;
	}
	.time_submit_sub {
		height: 35px;
		width: 100px;
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
	}

	
	.donate_time_modal {
		margin-top: 100px;
		margin-left: 5%;
		width: 90% !important;
	}
}
