.donate_your_time_form_header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 317px;
	width: 100%;
}

.donate_your_time_form_title {
	background-color: rgba(52, 124, 165, 0.84);
	height: 317px;
	width: 100%;
	color: #e5e5e5;
	font-size: 72px;
	padding-top: 160px;
	text-align: center;
}

.donate_your_time_form_container {
	width: 100%;
	height: fit-content;
	background-color: #e5e5e5;
	padding: 20px;
}

.donate_your_time_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	top: 40px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.donate_your_time_form_phone_city_container {
	display: flex;
	width: 100%;
	margin: 20px 0px 35px 0px;
}

.donate_your_time_form_phone_container {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 40px;
	flex: 1;
}

.donate_your_time_form_phone_container > input {
	height: 40px;
	width: 100%;
	border: none;
	padding-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.donate_your_time_form_city_container {
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
	flex: 1;
}

.donate_your_time_form_city_container > input {
	height: 40px;
	width: 100%;
	border: none;
	padding-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.donate_your_time_form_interested_in_container {
	width: 100%;
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-bottom: 35px;
}

.donate_your_time_form_interested_in_container > textarea {
	width: 100%;
	height: 150px;
	border: none;
	padding: 10px 10px;
	border-radius: 5px;
	line-height: 1.6;
}

.donate_your_time_form_comments_container {
	width: 100%;
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
}
.donate_your_time_form_comments_container > textarea {
	width: 100%;
	height: 150px;
	border: none;
	padding: 10px 10px;
	border-radius: 5px;
	line-height: 1.6;
	margin-bottom: 35px;
}

.donate_your_time_form_submit_btn_container {
	margin: 0 auto 35px auto;
}

.donate_your_time_form_submit_btn {
	width: 152px;
	border-radius: 5px;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
	background: rgba(244, 145, 49, 1);
	color: #fff;
	border: none;
	padding: 8px;
}

.donate-time-form-btn-popup {
	border-radius: 5px;
	border: none;
	background: #f49131;
	color: #fff;
	padding: 10px;
	font-size: 18px;
	width: auto;
	margin-top: 10px;
}
.donate_time_modal {
	margin-top: 200px;
	margin-left: 30%;
}
/************************************************************/
@media (max-width: 768px) {
	.donate_your_time_form_phone_city_container {
		display: flex;
		flex-direction: column;
	}
	.donate_your_time_form_phone_container {
		margin: 0px 0px 25px 0px;
		line-height: 1.5;
	}
	.donate_your_time_form_interested_in_container {
		line-height: 1.5;
	}
}

@media (max-width: 610px) {
	.donate_your_time_form_header {
		height: 217px;
	}

	.donate_your_time_form_title {
		height: 217px;
		font-size: 52px;
		padding-top: 120px;
	}
}

@media (max-width: 433px) {
	.donate_your_time_form_header {
		height: 190px;
	}

	.donate_your_time_form_title {
		height: 190px;
		font-size: 42px;
		padding-top: 110px;
	}
}

@media (max-width: 360px) {
	.donate_your_time_form_header {
		height: 150px;
	}

	.donate_your_time_form_title {
		height: 150px;
		font-size: 32px;
		padding-top: 85px;
	}
}
