.donate-goods-header-container {
	position: relative;
}

.donate-goods-header-image {
	display: block;
	width: 100%;
	height: 317px;
}

.donate-goods-header-overlay {
	position: absolute;
	bottom: 0;
	background: rgba(52, 124, 165, 0.84);
	width: 100%;
	transition: 0.5s ease;
	color: white;
	text-align: center;
	height: 317px;
	opacity: 1;
}

.donate-goods-header-text {
	position: absolute;
	top: 50%;
	margin-left: 33%;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 84px;
	color: #ffffff;
}

.donate-goods-form-container {
	height: auto;
	width: 100%;
	background-color: #e5e5e5;
	font-family: Roboto;
}

.donate-goods-form {
	display: flex;
	flex-direction: column;
}

.donate-goods-form-row1 {
	display: flex;
	justify-content: space-between;
	margin: 30px 5% 15px 5%;
}

.donate-goods-form-row1-item {
	flex: 1;
}

.donate-goods-form-row1 > div {
	display: flex;
	flex-direction: column;
}

.donate-goods-form-row1 > div > label {
	margin-bottom: 1%;
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}

.donate-goods-form-row1 > div > input {
	width: 90%;
	height: 40px;
	margin-top: 8px;
	margin-bottom: 18px;
	padding-left: 6px;
	border-radius: 5px;
	border: none;
}

.donate-goods-form-row2 {
	display: flex;
	flex-direction: column;
	margin: 30px 5% 15px 5%;
	width: 92.5%;
	justify-content: center;
}

.donate-goods-form-row2-item {
	flex: 1;
}

.donate-goods-form-row2 > div {
	display: flex;
	flex-direction: column;
}

.donate-goods-form-row2 > div > label {
	margin-bottom: 1%;
	color: #347ca5;
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
}

.donate-goods-form-row2 > div > textarea {
	width: 95%;
	font-family: Roboto;
	height: 150px;
	margin-top: 8px;
	margin-bottom: 35px;
	padding-top: 12px;
	padding-left: 6px;
	line-height: 1.5;
	border-radius: 5px;
	border: none;
}

.donate-goods-form-submit-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
	background-color: #e5e5e5;
	font-family: Roboto;
	padding: 50px 0px;
}

.donate-goods-form-submit-btn {
	border-radius: 5px;
	border: none;
	background: #f49131;
	color: #fff;
	padding: 8px;
	font-size: 20px;
	width: 150px;
}

.donate-goods-form-btn-popup {
	border-radius: 5px;
	border: none;
	background: #f49131;
	color: #fff;
	padding: 10px;
	font-size: 18px;
	width: auto;
	margin-top: 10px;
}

.donate-goods-form-modal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 200px auto;
	height: fit-content;
	width: 70%;
	padding: 60px;
	text-align: center;
	line-height: 1.5;
	background-color: #347ca5;
	color: white;
	border-radius: 5px;
}

@media (max-width: 1006px) {
	.donate-goods-header-image {
		height: 200px;
	}

	.donate-goods-header-overlay {
		height: 200px;
	}

	.donate-goods-header-text {
		margin-left: 30%;
		top: 55%;
		font-size: 44px;
	}

	.donate-goods-form-row1-item > input::placeholder {
		font-size: 9px;
	}
	.donate-goods-form-row2-item > textarea::placeholder {
		font-size: 12px;
	}
}

@media (max-width: 608px) {
	.donate-goods-header-image {
		height: 170px;
	}

	.donate-goods-header-overlay {
		height: 170px;
	}

	.donate-goods-header-text {
		margin-left: 30%;
		top: 45%;
		font-size: 44px;
	}
	.donate-goods-form-modal {
		margin: 180px auto;
		padding: 40px;
	}
	.donate-goods-form-btn-popup {
		font-size: 16px;
	}

	.donate-goods-form-row1 > div > input {
		height: 25px;
		margin-top: 8px;
		margin-bottom: 10px;
		padding-left: 6px;
		border-radius: 3px;
		border: none;
	}
	.donate-goods-form-row1-item > input::placeholder {
		font-size: 7px;
		padding-top: 2px;
	}
	.donate-goods-form-row2-item > textarea::placeholder {
		font-size: 9px;
	}
	.donate-goods-form-row2 > div > textarea {
		height: 100px;
		border-radius: 3px;
	}

	.donate-goods-form-row2 {
		margin: 20px 5% 10px 5%;
		width: 90%;
	}
}

@media (max-width: 496px) {
	.donate-goods-header-image {
		height: 160px;
	}

	.donate-goods-header-overlay {
		height: 160px;
	}

	.donate-goods-header-text {
		margin-left: 20%;
		top: 45%;
		font-size: 38px;
	}
	.donate-goods-form-modal {
		width: 70%;
		padding: 30px;
	}
	.donate-goods-form-modal-text {
		font-size: 15px;
	}
	.donate-goods-form-btn-popup {
		font-size: 13px;
	}

	.donate-goods-form-row1 {
		flex-direction: column;
		margin: 30px 5% 10px 5%;
		width: 95%;
	}

	.donate-goods-form-row2 {
		flex-direction: column;
		margin: 10px 5% 15px 5%;
	}
}

@media (max-width: 365px) {
	.donate-goods-header-image {
		height: 130px;
	}

	.donate-goods-header-overlay {
		height: 130px;
	}

	.donate-goods-header-text {
		margin-left: 25%;
		top: 40%;
		font-size: 28px;
	}

	.donate-goods-form-row1 {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.donate-goods-form-row1 > div > label {
		font-size: 13px;
		margin-top: 5px;
	}

	.donate-goods-form-row1 > div > input {
		height: 25px;
		border-radius: 3px;
		font-size: 11px;
	}

	.donate-goods-form-row1 > div > input::placeholder {
		font-size: 9px;
	}

	.donate-goods-form-row2 {
		margin-top: 10px;
	}

	.donate-goods-form-row2 > div > label {
		font-size: 13px;
		margin-top: 5px;
	}

	.donate-goods-form-row2 > div > textarea {
		height: 90px;
		margin-bottom: 18px;
		padding-top: 12px;
		border-radius: 3px;
		font-size: 11px;
	}

	.donate-goods-form-row2 > div > textarea::placeholder {
		font-size: 9px;
	}

	.donate-goods-form-submit-container {
		padding: 10px 0px 20px 0px;
	}

	.donate-goods-form-submit-btn {
		border-radius: 3px;
		padding: 7px;
		font-size: 16px;
		width: 90px;
	}
	.donate-goods-form-modal {
		margin: 140px auto;
		width: 70%;
		padding: 20px;
	}
	.donate-goods-form-modal-text {
		font-size: 13px;
	}
	.donate-goods-form-btn-popup {
		font-size: 12px;
	}
}
