#footer {
	width: 100%;
	height: auto;
	left: -1px;
	background: #347ca5;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#form-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

#form-btn {
	width: 110px;
	height: 48px;
	background: #f49131;
	border-radius: 5px;
	color: white;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 35px;
}
#form-title {
	padding: 1.5% 0px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	color: #ffffff;
}

.form-input {
	margin-right: 25px;
	width: 350px;
	height: 48px;
	border: none;
	background: #76a9c7;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	padding-left: 15px;
}

.form-input::placeholder {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-size: 24px;
	color: white;
	padding-top: 30px;
}

.newsletter-saved-message {
	color: white;
	margin-bottom: 10px;
	font-size: 20px;
	padding-bottom: 10px;
	text-align: center;
}

.footer-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c4c4c4;
	padding: 10px 0px;
	height: auto;
	width: 100%;
	color: #347ca5;
	font-weight: 400;
}

.footer-nav-links {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	color: #347ca5;
	font-size: 20px;
	padding: 8px 25px;
}

@media (max-width: 1237px) {
	.form-input {
		width: 270px;
		height: 38px;
		font-size: 16px;
		padding-left: 15px;
	}

	.form-input::placeholder {
		font-size: 21px;
		color: white;
		padding-left: 5px;
		padding-top: 25px;
	}
	#form-btn {
		width: 90px;
		height: 38px;
		font-size: 23px;
		line-height: 35px;
	}
}

@media (max-width: 976px) {
	.form-input {
		width: 200px;
		height: 28px;
		font-size: 13px;
		padding-left: 13px;
	}

	.form-input::placeholder {
		font-size: 17px;
		color: white;
		padding-left: 5px;
		padding-top: 20px;
	}
	#form-btn {
		width: 81px;
		height: 28px;
		font-size: 18px;
		line-height: 20px;
	}
	.footer-nav-links {
		font-size: 17px;
	}
}

@media (max-width: 767px) {
	#form-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 10px;
	}
	.form-input {
		margin-bottom: 10px;
	}

	.footer-nav-links {
		font-size: 12px;
		padding: 8px 13px;
	}
}

@media (max-width: 450px) {
	.form-input {
		font-size: 13px;
		padding-left: 13px;
		margin-bottom: 10px;
		margin-right: auto;
		margin-left: auto;
	}

	.form-input::placeholder {
		font-size: 14px;
		color: white;
		padding-left: 5px;
		padding-top: 20px;
	}
	#form-btn {
		width: 81px;
		height: 28px;
		font-size: 20px;
		line-height: 20px;
	}
	#form-title {
		padding: 1.5% 0px;
		font-size: 24px;
		line-height: 35px;
	}

	.newsletter-saved-message {
		font-size: 14px;
		padding-bottom: 7px;
	}

	.footer-nav-links {
		display: block;
		font-size: 14px;
	}
}

@media (max-width: 280px) {
	#form {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#form-title {
		padding: 1.5% 0px;
		font-size: 16px;
		line-height: 27px;
	}
	.form-input {
		padding-left: 13px;
		margin-right: auto;
		margin-left: auto;
	}

	.form-input::placeholder {
		font-size: 11px;
		color: white;
		padding-left: 5px;
		padding-top: 20px;
	}
	#form-btn {
		width: 72px;
		height: 34px;
		font-size: 18px;
		line-height: 35px;
	}

	.footer-nav-links {
		display: block;
		font-size: 12px;
	}
}
