#news-div {
  margin-top: 10%;
  text-align: center;
}

#newsTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  color: #347ca5;
}

#newsHomePage {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  margin-bottom: 50px;
}

.news {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #e5e5e5;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 5px;

}

.news-img {
  flex: 6;
  height: 400px;
  margin: 15px;
  width: 40%;
  border-radius: 5px;
}

.news-text {
  flex: 6;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  height: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  width: 40%;
  margin-top: 10px;
}

.news-text > h2 {
  margin-bottom: 10px;
}
.news-text > p {
  padding-bottom: 100px;
}

.news-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border: none;
  background: #f49131;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  float: left;
  bottom: 8%;
  text-align: center;
}

@media (max-width: 1156px) {
  .news-img {
    height: 380px;
    margin: 15px;
  }
}

@media (max-width: 900px) {
  .news-text {
    font-size: 18px;
  }

  .news-btn {
    font-size: 18px;
    width: 140px;
    height: 42px;
  }
  .news-img {
    height: 340px;
    margin: 15px;
  }
}

@media (max-width: 768px) {
  #newsTitle {
    font-size: 50px;
  }
  .news-img {
    height: 320px;
    margin: 15px;
    width: 50%;
    border-radius: 5px;
  }
}

@media (max-width: 681px) {
  .news-btn {
    font-size: 15px;
    width: 110px;
    height: 33px;
  }
  .news-img {
    height: 300px;
    margin: 15px;
  }
  .news-text > h2 {
    font-size: 18px;
  }
  .news-text > p {
    padding-top: 10px;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 80px;
  }
}

@media (max-width: 560px) {
  .news-text > h2 {
    font-size: 15px;
  }
  .news-text > p {
    font-size: 11px;
    margin-top: 5px;
    padding-bottom: 60px;
  }
  .news-btn {
    bottom: 8%;
  }
  .news-img {
    height: 200px;
    margin: 10px;
  }
}

@media (max-width: 548px) {
  #newsTitle {
    font-size: 38px;
  }
}

@media (max-width: 444px) {
  #newsTitle {
    font-size: 32px;
    line-height: 38px;
  }
  .news-text > p {
    font-size: 9px;
    margin-top: 5px;
    line-height: 15px;
    padding-top: 0px;
  }
  .news-btn {
    font-size: 12px;
    width: 80px;
    height: 25px;
    border-radius: 3px;
  }
}

@media (max-width: 377px) {
  #newsTitle {
    font-size: 24px;
    line-height: 34px;
  }
  .news-img {
    height: 160px;
  }
}

@media (max-width: 294px) {
  #newsTitle {
    font-size: 21px;
    line-height: 34px;
  }
}
