.sign-in {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 627px;
  height: 90%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
}

.sign-in-header {
  display: flex;
  flex-direction: row;
}

.sign-in-h1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #347ca5;
}

.sign-in-body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  border-radius: 10px;
  width: 85%;
  height: 97%;
  margin: auto;
}

.valid {
  margin-top: 5px;
  margin-left: 15%;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  color: red;
}

.sign-in-SignIn {
  margin-top: 15px;
  margin-left: 15%;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  color: #347ca5;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-top: 30px;
}

.sign-in-email {
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 10px;
  font-size: large;
}
.sign-in-email::placeholder {
  padding: 3px;
  font-family: Prociono;
  font-size: 18px;
  color: #c4c4c4;
}

.sign-in-password {
  max-width: 80%;
  margin-top: 5px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 10px;
  font-size: large;
}

.sign-in-password::placeholder {
  padding: 3px;
  font-family: Prociono;
  font-size: 18px;
  color: #c4c4c4;
}

.sig-in-forgot-password {
  margin-top: 10px;
  margin-left: 5px;
  color: #347ca5;
  font-size: 16px;
}
.sign-in-submit {
  border: none;
  background-color: #f49131;
  border-radius: 10px;
  color: #ffffff;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  font-size: xx-large;
  cursor: pointer;
}

.link {
  color: #ffffff;
  margin-top: 50px;
  max-width: 80%;
  margin-left: -4px;
  border: none;
  background-color: #f49131;
  border-radius: 10px;
  color: #ffffff;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 5px;
  font-size: xx-large;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.sign-in-signUp {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  color: #347ca5;
}

.sign-in-signUp p a {
  font-weight: bold;
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .sign-in {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
  }
}
