a {
  text-decoration: none;
  color: #347ca5;
}
.sign-up {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 627px;
  height: 100%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
}

#sign-up-form ~ label {
  color: #347ca5;
  margin-left: 5px;
  font-size: medium;
  font-weight: bold;
  margin-top: 5px;
}

.sign-up-header {
  display: flex;
  flex-direction: row;
}

.sign-up-logo {
  margin-top: 17px;
  margin-left: 70px;
  margin-right: 20px;
}

.sign-up-h1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #347ca5;
}

.sign-up-body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  border-radius: 10px;
  width: 85%;
  height: 97%;
  margin: auto;
  margin: auto;
}

.valid {
  margin-top: 5px;
  margin-left: 15%;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  color: red;
}

.sign-up-SignIn {
  margin-top: 5px;
  margin-left: 15%;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  color: #347ca5;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-top: 30px;
}

.sign-up-email {
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 10px;
  font-size: large;
}
.sign-up-email::placeholder {
  padding: 3px;
  font-family: Prociono;
  font-size: 18px;
  color: #c4c4c4;
}

.sign-up-password {
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 10px;
  font-size: large;
}

.sign-up-password::placeholder {
  padding: 3px;
  font-family: Prociono;
  font-size: 18px;
  color: #c4c4c4;
}

/* input::placeholder {
	padding: 5px !important;
	font-family: Prociono !important;
	font-size: 15px !important;
	color: rgb(129, 111, 111) !important;
} */

.sig-in-forgot-password {
  margin-top: 10px;
  margin-left: 5px;
  color: #347ca5;
  font-size: small;
}
.sign-up-submit {
  margin-top: 10px;
  max-width: 80%;
  border: none;
  background-color: #f49131;
  border-radius: 10px;
  color: #ffffff;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 5px;
  font-size: xx-large;
  cursor: pointer;
}

.link {
  color: #ffffff;
  margin-top: 30px;
  max-width: 80%;
  margin-left: -4px;
  border: none;
  background-color: #f49131;
  border-radius: 10px;
  color: #ffffff;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 5px;
  font-size: xx-large;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.sign-up-google {
  margin-top: 20px;
  max-width: 80%;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  color: #347ca5;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  padding: 5px;
  font-size: large;
  cursor: pointer;
}

.sign-up-google img {
  height: 25px;
}

.sign-up-login {
  margin: auto;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  color: #347ca5;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sign-up-login p a {
  font-weight: bold;
  font-size: larger;
  margin-left: 3px;
}

@media only screen and (max-width: 768px) {
  .sign-up {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
  }

  .sign-up-login p {
    display: flex;
    font-weight: bold;
    font-size: medium;
    margin-left: 3px;
  }
}
